<!doctype html>
<html>
<head>
<mate charset = "utf-8" />
<title>后台管理</title>
</head>
<body>
    <div class = "page">
        <% include components/top.inc.ejs %>
        <div class = "right-wrap">
        我是管理首页
        </div>
    </div>
</body>
</html>